certifi==2025.1.31
charset_normalizer==3.4.1
filelock==3.17.0
fsspec==2025.2.0
huggingface_hub==0.28.1
idna==3.10
jinja2==3.1.6
joblib==1.4.2
MarkupSafe==2.1.5
networkx==3.4.2
numpy==1.26.4
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
safetensors==0.4.5
scikit_learn==1.6.1
sympy==1.13.1
threadpoolctl==3.5.0
tokenizers==0.21.0
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
urllib3==2.3.0
k-means-constrained==0.7.3